<div class="main">
<div class="topTitle">
<h1>{{award}}<span class="typeflag">{{describe}}</span></h1>
</div>
<div class="result_box" >
<div class="table-responsive">
<table class="table">
<thead >
<tr>
<th>中奖名单</th>
</tr>
</thead>
<tbody id="content">

</tbody>
</table>
</div>    
</div> 
<div class="button_box">
<button class="button big green"ng-click="Start(startNum)"id={{startNum}}accesskey="s">开始</button>
<button class="button big grey"ng-click="Ok()"id={{stopDes}}accesskey="o">停止</button>
</div>  
<div style="background-color: #bbb; width:80vw;height:3vh; position:absolute; bottom:0;">
<p align="center"style="border-top:solid #bbb 3px ; color:#878B91; ">
Copyright &copy;2017 @Binginto
</p>
</div>

</div>