    
    <div class="main" >
    <div class="topTitle">
    <h1><input type="text" placeholder="输入奖项" >
    <span class="typeflag"><input type="text" placeholder="输入描述" value={{describe}}></span></h1>
    </div>
    <div class="result_box  stop" id="oknum">
    <span id="oknum" name="oknum" value="抽奖结果"></span>
    <div class="bigfont">抽奖结果<span class="typeflag">{{num}}</span></div>
    </div>  
    <div class="button_box">
    <button class="button big green" ng-click="Start(startNum)" id={{startNum}} accesskey="s">开始</button>
    <button class="button big grey" ng-click="Ok(stopDec)" id={{stopDec}} accesskey="o">停止</button>
    </div>  
    <div style="background-color: #bbb; width:80vw; ">
    <p align="center" style="margin-top: 20px;border-top:solid #bbb 3px ; color:#878B91;">
            Copyright &copy;2017 @Binginto
        </p>
    </div>
     
    </div>
    