 <!--现金奖-->
 <div>

        <div class="left" >
        <div>
        <h2>天彩开发部晚会抽奖</h2>
           <input type="text" name="setnum" id="setnum" placeholder="请输入中奖人数" class="inputnum">
         <button class="button button-glow button-rounded button-raised button-primary comfirminput" ng-click="inStart()" accesskey="s">确认</button>
         <button class="button button-glow button-border button-rounded button-primary comfirminput" ng-click="inOk('补充奖项')" accesskey="o">停止</button>
        </div>
         <div>
         <a href="#/good/best"> <button class="button button-3d  button-action button-circle button-jumbo switchbtn" ><i class="fa fa-thumbs-up">goods</i></button> </a>
         <a href="#/" > <button class="button button-3d  button-circle button-jumbo switchbtn" ><i class="fa fa-thumbs-up">cash</i></button> </a>
           <button class="button button-3d  button-circle button-jumbo switchbtn"  ng-click="save()" id="add_save"><i class="fa fa-thumbs-up">save</i></button> 
           <button class="button button-3d  button-circle button-action button-jumbo switchbtn"  ng-click="show()"><i class="fa fa-thumbs-up">show</i></button> 
         </div>
     </div>


       

    <div class="main">
    <h1 id="title">补充奖项</h1>
	<div class="result_box  stop" id="oknum">
	<span id="oknum" name="oknum" value="抽奖结果"></span>
	<div class="bigfont">抽奖结果</div>
	</div>  
    <div class="button_box">
   
    
    </div>  
    </div>
</div>
