.left{
   width:20vw;
   height: 100vh;
   border-right: solid #ADADAD 2px;
   visible:visible;
   float: left;
}

.left ul li{
	/*background-color:#46A3FF;*/
	text-align: center;
	margin: 0 auto ;
	/*border:solid #ccc 2px;*/
  font-size: 2em;
  /*display: block; */
}




h1{
  margin-left: 28vw!important;
  font-size: 5vmin;
  font-family:"Microsoft YaHei","黑体","宋体";
  text-align: center;
  -webkit-text-stroke: 1.5px black;/*描边的像素，也就是粗细，这里指定是2像素的黑色边框*/
}

h2{
  margin-left: 5%;
  font-family:"Microsoft YaHei","黑体","宋体";
  font-size:4vmin !important;
  height:4vmin;   
  -webkit-text-stroke: 1.5px black;s/*描边的像素，也就是粗细，这里指定是2像素的黑色边框*/

}

.main{
  width:50vw;
  height: 100%;
  float: left;
}

div.view-container {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0;
  margin-bottom: 80px;
  overflow-y: auto; }
  div.view-container.fullscreen {
    height: 100vh; }


.result_box {margin:0 15vw;width:100%;height:60vh;padding-top:2vh;text-align:center;border:3px solid #d0d0d0;background:#efe; overflow: scroll;}  
 #oknum {font-size:4vmin;font-family:KaiTi;text-align:left;background:#efe; line-height:5vmin; padding-left: 15vw ; }  
.button_box {margin:5vh 0 0 28vw;}  

.stop{
  word-break:hyphenate!important;
}

.btn-size{
  width:50% !important;
  height:8vh !important;
  padding-left: 18vw ;
  margin:2vh auto !important;
}

.bigfont{
  font-size: 8vmin;
  margin-top: 20vh;
  padding-left: 3vw ;
  color:#cc0000;;
}

#cash{
  display: block;
}

#good{
  display: none;
}

.switchbtn{
  width:30% !important;
  height:10vh !important;
  margin-top: 5vh !important;
  margin-left: 2vw !important;
  display: inline-block;
  float: left;
}



.typeflag{
  font-size: 18px !important;
  display: inline-block;
}


.bigfont_ok{
  font-size: 5vmins;
  padding-top: 25vh;
  padding-left: 20vw !important;
  color:#cc0000;
}

.changestyle_ok1{
  font-size: 7vmin !important;
  line-height:8vmin !important;
  padding-top: 15vh;
  padding-left: 12vmin !important;
}

.changestyle_ok2{
  font-ssize: 6vmins !important;
  padding-top: 8vh;
  padding-left: 15vw !important;
}

.long{
  height: 80vh;
}

/*firework*/
.fire{display:block; overflow:hidden; font-size:100px; position:absolute};

.btncolor{
  background-color: #BEBEBE !important;
}
