 <!--物品奖-->
 <div>
       
    <div class="main">
    <h1>五等奖<span class="typeflag">(物品奖香山牌电子称)</span></h1>
    <div class="result_box  stop" id="oknum">
    <span id="oknum" name="oknum" value="抽奖结果"></span>
    <div class="bigfont">抽奖结果<span class="typeflag">(30人)</span></div>
    </div>  
    <div class="button_box">
    <button class="button big green" ng-click="Start(30)" accesskey="s">开始</button>
    <button class="button big grey" ng-click="Ok('物品五等奖')" accesskey="o">停止</button>
    <p>

    </p>
    </div>  
    </div>
</div>
