 <!--物品奖-->
 <div>
    <div class="main">
    <h1>{{title}}<span class="typeflag">{{content}}</span></h1>
    <div class="result_box  stop" id="oknum">
    <span id="oknum" name="oknum" value="抽奖结果"></span>
    <div class="bigfont">抽奖结果<span class="typeflag">{{num}}</span></div>
    </div>  
    <div class="button_box">
    <button class="button big green" ng-click="Start(15)" accesskey="s">开始</button>
    <button class="button big grey" ng-click="Ok('物品三等奖')" accesskey="o">停止</button>
    <p>

    </p>
    </div>  
    </div>
</div>
