<div class="panel panel-default ">
<a data-toggle="collapse"data-parent="#accordion"href="#collapseDowork">
<div class="panel-heading">
<h4 class="panel-title">
<button type="button"class="btn btn-default itemfont"aria-label="Left Align">
<span class="glyphicon glyphicon-align-left "aria-hidden="true"></span>
</button>
<span class ="leftTitle">补充奖项<span>
</h4>
</div>
</a>
<div id="collapseDowork"class="panel-collapse collapse ">
<div id ='doWork_1'class="panel-body itemBorder">
<add-tags></add-tags>
</div>
</div>
</div>