
<div class="left" id="cash">
 <div class="leftTop">
 <h2>skylight</h2>
 </div>
   <div class="panel-group" id="accordion">
	<div class="panel panel-default ">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseOne">
					<button type="button" class="btn btn-default" aria-label="Left Align">
                 <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                </button>
					cash
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse ">
			<div id = 'cash_1' class="panel-body" ng-click="sendData('cash_1')">
			first
			</div>
			<div id ='cash_2' class="panel-body" ng-click="sendData('cash_2')">
			sencond
			</div>
			<div id ='cash_3' class="panel-body" ng-click="sendData('cash_3')">
			three
			</div>
		</div>
	</div>
	
		<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseGood">
					<button type="button" class="btn btn-default" aria-label="Left Align">
                 <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                </button>
				good
				</a>
			</h4>
		</div>
		<div id="collapseGood" class="panel-collapse collapse ">
			<div id = 'good_1' class="panel-body" ng-click="sendData('good_1')">
			first
			</div>
			<div id = 'good_2' class="panel-body" ng-click="sendData('good_2')">
			sencond
			</div>
			<div id = 'good_3' class="panel-body" ng-click="sendData('good_3')">
			three
			</div>
		</div>
	</div>
       
       <div class="panel panel-default ">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseDowork">
					<button type="button" class="btn btn-default" aria-label="Left Align">
                 <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                </button>
					doWork
				</a>
			</h4>
		</div>
		<a href="#/add/add">
		<div id="collapseDowork" class="panel-collapse collapse ">
			<div id = 'doWork_1' class="panel-body" ng-click="sendData('doWork_1')">
			first
			</div>
		</div>
		</a>
	</div>

	<div class="panel panel-default ">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" 
				   href="#collapseName">
					<button type="button" class="btn btn-default" aria-label="Left Align">
                 <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
                </button>
					name
				</a>
			</h4>
		</div>
		<a href="#/add/add">
		<div id="collapseName" class="panel-collapse collapse ">
			<div class="panel-body" id = 'name_1' ng-click='sendData(id)'>
			first
			</div>
		</div>
		</a>
	</div>

	</div>
</div>