<!DOCTYPE html>
<html>
<head>
<meta name="description" content="[Ngrepeat in obj and arr]">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
<script type="text/javascript">
  var app = angular.module('myApp', []);
app.controller('testCtrl', function ($scope) {
  $scope.test1 = 'tt';
  $scope.list1 = [{
    id: '1',
    value: 'seti'
  }, {
    id: '2',
    value: 'kuma'
  }, {
    id: '3',
    value: 'cent'
  }];
  $scope.obj1 = [
      'cash',
      'good'
    ];


  
  $scope.obj3 = [
    {
      'catory':'cash',
       'award':'1'
    },
    {
      'catory':'cash',
       'award':'2'
    },
    {
      'catory':'cash',
       'award':'3'
    },
    {
      'catory':'good',
       'award':'1'
    },
    {
      'catory':'good',
       'award':'2'
    }];
  
  $scope.obj2 = {
    'ins':{text:'seti', value:'s1'},
    'abc':{text:'kuma', value:'s2'},
    'coln':{text:'cent', value:'s3'}
  };
});
</script>
 <meta charset="utf-8">
 <title>JS Bin</title>
</head>
<body>
 
  
 <div ng-app="myApp">
  <div ng-controller="testCtrl">{{test1}}
    <div>
      <label for="" ng-repeat="item in list1">{{item.id}} -- {{item.value}}</label>
      <p></p>
       
      <ul><li for="" ng-repeat="x in obj1">{{x}}
        <ul><li for="" ng-repeat="x in obj3">{{x.award}}</li></ul>
      </li> </ul>

      
      对于obj遍历的话 会根据key的首字母排序
      <label for="" ng-repeat="(key, value) in obj2">
        {{key}} -- {{value.text}} -- {{value.value}}
      </label>
       
    </div>
  </div>
</div>
  
  
</body>
</html>